{% extends 'network_simulation/base.html' %}

{% block content %}
<div class="container">
    <h1>Network Analysis Dashboard</h1>
    <p>Explore educational network relationships and analytics.</p>
    
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'network_simulation:dashboard' %}" class="btn btn-primary">Network Dashboard</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'network_simulation:student_instructor_network' %}" class="btn btn-secondary">Student-Instructor Network</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'network_simulation:course_network' %}" class="btn btn-info">Course Network</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="{% url 'network_simulation:student_performance' %}" class="btn btn-success">Student Performance</a>
        </div>
    </div>
</div>
{% endblock %}