<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ course.code }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'aniTA_app/css/styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'aniTA_app/css/instructor-dashboard.css' %}" />
    </head>
    <body>
        {% for msg in flash_success %}
        <p class="flash-succ">{{ msg }}</p>
        {% endfor %}
        {% for msg in flash_error %}
        <p class="flash-err">{{ msg }}</p>
        {% endfor %}

        <nav class="navbar">
            <div class="nav-left">
                <a href="{% url 'instructor_dashboard' %}" class="nav-link">Dashboard</a>
                <a href="{% url 'instructor_course_add_assignment' course_code=course.code %}" class="nav-link">Add Assignment</a>
            </div>
            <div class="nav-right">
                <form action="{% url 'users:logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">
                        Logout
                    </button>
                </form>
            </div>
        </nav>

        <h3>Assignments<h3>
            <ul>
                {% for assignment in course.assignments %}
                <li><a href="#" target="_self">{{ assignment.name }}</a></li> <!-- TODO -->
                {% endfor %}
            </ul>
    </body>
</html>
